html {
    font-size: 16px;
    font-family: 'Josefin Slab', Tahoma,  serif;
    -webkit-text-size-adjust:none;
}

h1 {
    @include rem(font-size, 5.1875);
    @include rem(min-height, 5.1875);
}

h2 {
    @include rem(font-size, 4.1875);
    @include rem(min-height, 4.1875);
}

h3 {
    @include rem(font-size, 3.125);
    @include rem(min-height, 3.125);
}

h4 {
    @include rem(font-size, 1.75);
    @include rem(min-height, 1.75);
}

h5 {
    @include rem(font-size, 1.3125);
    @include rem(min-height, 1.3125);
}

h6 {
    @include rem(font-size, 1);
    @include rem(min-height, 1);
}

h1, h2, h3, h4, h5, h6 {
    @include rem (margin, 2, 0, 1);
}

p {
    font-family: $base-font-family;
    @include rem(font-size, 1.75);
    @include rem(margin-bottom, 1);
    @include rem(line-height, 2.25);
}

.address {
    background-image: url('/images/Rackers Volunteer Week, Nov 14, raising scaffold 1.JPG');
    background-size: 200px;
    background-repeat: no-repeat;
    @include rem(margin-left, 3);
    padding-left: 232px;
}

@media screen and (max-width: 500px) {
    html {
        font-size: 12px;
    }
}

ul, ol {
    @include rem(font-size, 2);
    font-family: $base-font-family;
    padding-left: 2rem;

    li {
        @include rem(margin-bottom, 0.75);
    }
}

ol {
    padding-left: 3rem;
}

.post-content {

    ul {
        list-style: initial;
    }

    ol {
        list-style-type: decimal;
    }
}
