footer {
    background-color: rgb(25, 197, 135);
    @include rem(height, 2);
    @include rem(line-height, 2);

    .footer-content {
        max-width: 960px;
        margin: 0 auto;
        text-align: center;
        @include rem(height, 2);
        @include rem(line-height, 2);
    }
}

@media screen and (max-width: 960px) {
    .footer-content {
        @include rem(font-size, 0.75);
    }
}
