.post-figure {
    &.quarter,
    img {
        width: 25%;
    }

    &.half,
    img {
        width: 50%;
    }

    &.full,
    img {
        width: 100%;
    }

    &.right {
        float: right;
    }

    &.left {
        float: left;
    }

    &.center {
        display: table;
        margin: auto;
    }
}

.post-figure {
    display: inline-block;
    position: relative;

    figcaption {
        background-color: black;
        bottom: 0;
        color: white;
        font-family: $base-font-family;
        position: absolute;
        text-align: center;
        width: 100%;
        @include rem(padding, 0.25);
    }
}
